/* src/styles/main.css */
@font-face {
  font-family: "Satoshi-Variable";
  src:
    url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* good for performance */
}

body {
  font-family:
    "Satoshi-Variable",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}
